<!-- chat/templates/chat/room.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ASGI Project!</title>
  <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
</head>
<body>
  <section class="hero is-white is-fullheight">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-primary" id="showNumber">
          0
        </h1>
        <h2 class="subtitle">
          sessions are connected right now.
        </h2>
        <a href="https://github.com/rajasimon/asgiproject" class="button is-black">Github</a>
      </div>
    </div>
  </section>
  <script src="{% static "channels/js/websocketbridge.js" %}"></script>
  <script>
    const webSocketBridge = new channels.WebSocketBridge();

    webSocketBridge.connect('/stream/');
    
    // Connected callback to server
    webSocketBridge.socket.addEventListener('open', function() {
      console.log("Connected to WebSocket");
      webSocketBridge.send({message: 'connected'});
    })

    webSocketBridge.listen(function(action, stream) {
      console.log(action, stream)
      const msg = action.message
      
      // Get show number element
      const showNumberElement = document.getElementById('showNumber')
      
      // Show user the received number via websocket
      showNumberElement.innerText = msg
    });
  </script>
</body>
</html>